@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body, table, th, td, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
   pre, form, fieldset, textarea, blockquote, span, * {
   font-family: 'Noto Sans KR', sans-serif;
   font-weight: 400;
}

body {
    width: 100%;
    /* overflow: hidden; */
}
/* list 기본 동그라미 없애기 위해서 사용 */
li {
    list-style-type: none;
}
/* a 태그 기본적인 효과 없애기 */
a { 
    text-decoration: none;
    color: black;
    cursor: pointer;
    word-break: keep-all;
}

 /* a 태그 마우스 hover 했을 때  */
a:hover {
    color: #0A21A6;
}

/* 부트스트랩 그림자 효과 없앰 */
.btn:focus {
    box-shadow: none;
}

/* header */
.header {
    height: 4.5rem;
    border-bottom: .2rem solid #0A21A6;
}
/* 직계후손 햄버거 밑에 있는 버튼에만 효과 주기  */
.ham>.btn {
    font-size: 1.6rem;
    margin-top: 1.35rem;
    /* border: .1rem solid;*/
    padding: .5rem .6rem;
}
/* global navigation bar*/
.gnb {
    position: absolute;
    width: 6.3rem;
    margin-top: .2rem;
    background-color: white;
    border: .13rem solid black;
    border-radius: .5rem;
    padding: 0rem;
    font-size: 1.2rem;
}

.gnb li {
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-bottom: .1rem solid black;
}

.gnb li:last-child {
    border-bottom: none;
}

.logo_txt {
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-top: .6rem;
    border: .01rem solid #0A21A6;
    cursor: pointer;
}
.logo_img {
	width: auto;
	height: 2rem;
	margin-top: 1rem;
	cursor: pointer;
}

/* admin 로그인 회원가입 */
.btns {
    padding-top: 2rem;
    /* text-align: right; */
}
/* 로그인 -> 로그아웃 , 회원가입 -> 마이페이지 버였다가 안보이는 조건을 class를 미리 걸어놓음 */
.btns a {
    font-size: 1.0rem;
    margin-left: 1.5rem;
    margin-top: .5rem;
    
}

/* side navigation bar */
.snb.col-2 {
    border-right: .1rem solid #0A21A6;
    padding: 0rem;
    font-size: 1.4rem;
}
.snb ul {
    padding-left: 0;
    width: 100%;
    text-align: center;
}
.snb a:active {
    text-decoration: underline dotted #0A21A6;
}


/* 로그인 화면 title */
.title {
    margin-top: 8rem;
    margin-bottom: 5rem;
}
/* 센터 로고이미지 */
.center_logo_txt {
    width: 8rem;
    height: 3.5rem;
    margin: 0 auto;
    border: .01rem solid gray;
    line-height: 3.5rem;
    cursor: pointer;
}
.center_logo {
	width: auto;
	height: 3.5rem;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

/* 회사 소개 js input용 */
.footer{
    margin-top: 5rem;
    overflow: hidden;
}
/* footer 전체 크기 */
.footer_body {
    position: relative;
    width: 100%;
    height: 6rem;
    border-top: .1rem solid gray;
}
/* footer text 창 크기 */
.footer_txt {
    padding-top: 1.2rem;
    font-size: .7rem;
}

/* 버튼 */
.btn-blue {
    background-color: #0A21A6;
    color : white;
}
.btn-blue:hover {
    color : white;
}
.btn-red {
    background-color: #A6231B;
    color : white;
}
.btn-red:hover {
    color : white;
}
.btn-lightgray {
    background-color: lightgray;
}
.btn-white {
    background-color: white;
    border: .1rem solid #0A21A6;
    color: #0A21A6;
}

/* 로그인 등 버튼 작게 효과 */
form .btn.btn-blue {
    position: relative;
    width: 60%;
    left: 20%;
}


@media (min-width:700px) and (max-width:1000px) {
    .ham>.btn {
        font-size: 1.3rem;
        margin-top: 1.8rem;
    }

    .btns {
        padding-top: 2.3rem;
        font-size: .9rem;
    }

    .btns a{
        margin-left: .5rem;
    }

    .snb {
        font-size: 1rem;
    }

    .footer_txt {
        font-size: .1rem;
    }

    .info_find {
        font-size: 1rem;
    }
}


/* USER 페이지 설정 */
@media (max-width: 699px) {
    .header {
        background-color: #0A21A6;
        height: 3.8rem;
        color: white;
    }
    /* header 좌측 햄버거 디자인 */
    .ham>.btn {
        color: white;
        font-size: 1.3rem;
        margin-top: .85rem;
        /* border: .1rem solid white; */
        padding: .4rem .5rem;
    }
    
    /* 좌측 햄버거 눌렀을 때 navbar */
    .gnb {
        margin-left: 0rem;
    }

    /* header 중앙 회사로고이미지 */
    .logo_txt {
        border: .01rem solid white;
    }
    .logo_img {
		height: 1.6rem;
		margin-top: 1.25rem;
		cursor: pointer;
	}

    /* header 우측 사람아이콘 디자인 */
    .fa-user {
        font-size: 1.6rem;
        margin-top: .85rem;
        margin-right: .1rem;
        color: white;
    }

    /* 우측 사람아이콘 눌렀을 때 navbar */
    .lnb {
        position: absolute;
        right: .5rem;
        width: 6.3rem;
        padding: 0rem;
        margin-top: 2.6rem;
        background-color: white;
        border: .13rem solid black;
        border-radius: .5rem;
        font-size: 1.2rem;
    }

    .lnb ul {
        padding: 0rem;
    }

    .lnb li {
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        border-bottom: .1rem solid black;
    }
    .lnb li:nth-child(3) {
        height: 3.2rem;
        line-height: 1.5rem;
    }
    .lnb li:last-child {
        border-bottom: none;
    }

    /* 하단 navbar */
    .navigation {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 3rem;
        border-top: .1rem solid;
        background-color: white;
        box-shadow: 0px -0.5px 3px #0A21A6;
        z-index: 100;
    }
   	
    .navigation a {
        color: #0A21A6;
        line-height: 3rem;
        font-size: 1.8rem;
        padding: 1rem;
    }

    .navigation a:active{
        color: black;   
    }

    /* USER 로그인 화면 */
    .title {
        margin-top: 6rem;
        margin-bottom: 4rem;
    }
    
    .center_logo_txt {
        width: 5rem;
        height: 2.5rem;
        margin: 0 auto;
        border: .01rem solid gray;
        line-height: 2.5rem;
    }
    .center_logo {
		height: 2.5rem;
	}

    /* 테이블 제목 넘치는거 자르기 */
    .table.table-ellipsis tbody td {
        max-width: 10rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}